! Command: show running-config
! device: sw1 (vEOS, EOS-4.22.0F)
!
! boot system flash:/vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
hostname sw1
!
spanning-tree mode mstp
!
no aaa root
!
username admin role network-admin secret sha512 $6$O47sfexQmJdKYb30$U/0zD4X4RO1nSOusRi4cZ7jKlZ/ug3/c1jv35YW297Wlu/qc6F8qDKn7uhapgN4ZBgrX2nR6J5qaJ96rxXZ6N.
!
interface Management1
   mtu 1450
   ip address dhcp
   dhcp client accept default-route
!
no ip routing
!
management api http-commands
   protocol http
   no shutdown
!
end

